*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{ 
  background-color: rgb(26, 26, 26);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; 
}
*::-webkit-scrollbar { 
  display: none; 
} 